In [1]:
print("Amen Ejaz")
print("I am a student")

Amen Ejaz
I am a student

In [2]:
#Adding comment to increase understandability
print('Comment increase understandability')

Comment increase understandability

In [ ]:
x='Amen'
y='I am a student'
z=x+y;
print(x)
print(y)
print(x+y)

In [3]:
#casting
x=str("Amen")
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

Amen
3
3.0

In [4]:
x=5
y="Amen"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [5]:
#case sensitive
a=4
A="amen"
print(4)
print("amen")

4
amen

In [7]:
x,y,z = "orange", "banana", "mango"
print(x)
print(y)
print(z)

orange
banana
mango

In [8]:
#assigning a singal value to multiple variables
x=y=z="orange"
print(x)
print(y)
print(z)

orange
orange
orange

In [9]:
#print output variable
x="CR"
print(x)

CR

In [13]:
#global variables
x="awesome"
def myfunc():
  print("Python is "+x)

  myfunc()

In [12]:
dict ={
    "country" : "Pakistan",
    "model" : "cnn",
    "year" :1964

}
print(dict["country"])

Pakistan

In [14]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,  #Duplicate values will overwrite existing values:
  "year": 2020
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [15]:
#determining the length of dictionary
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(dict))

3

In [ ]:
#If statement:
a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
#conditions
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [16]:
#while loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
#for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
#function
def my_function():
  print("Hello from a function")

my_function()

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Pakistan")
my_function("Kuwait")
my_function()
my_function("India")

In [ ]:
#return values
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))